{if $aOutFact}
<section class="block">
    <header class="block-header">
        <h3>{$aLang.plugin.meteopuls.meteoheader}</h3>
    </header>


            <h1>{$aOutFact['country']},&nbsp;{$aOutFact['city']}:</h1><br/>
            <p>&nbsp;&nbsp;<h1>{$aOutFact['temperature']}&nbsp;°C<img src="http://yandex.st/weather/1.1.78/i/icons/48x48/{$aOutFact['image']}.png"  width="48" height="48" style="margin-left: 50px" /></h1></p>
            <p>{$aOutFact['weather_type']}</p>

</section>
{/if}

